<h3>This should show a single animal</h3>

<%= @animal %>

<h4>
  <%= @animal["species"] %>
</h4>

<img src="<%= @animal["image"] %>">

<p>
  <%= @animal["description"] %>
</p>

<% if @animal.habitat %>
  <p>
    <a href="/habitats/<%= @animal.habitat.id %>">
      This belongs to <%= @animal.habitat.landscape %>
    </a>
  </p>
<% end %>

<!-- The link may look like this /animals/6/delete -->
<a href="/animals/<%= @animal["id"] %>/delete">
  Delete this animal
</a>

<!-- The link may look like this /animals/6/edit -->
<a href="/animals/<%= @animal["id"] %>/edit">
  Edit this animal
</a>

<a href="/animals">
  See all of our animals
</a>
